PORT=3000
NODE_ENV=local
DB_URI=mongodb://localhost:27017/frontendly
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=

O11Y_HEAP_THRESHOLD_BYTES=1073741824
